.game-container {
    text-align: center;
    background: #009a26;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
    width: 80%;
}

.new-game-btn {
    background: #005a16;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

.new-game-btn:hover {
    background: grey;
}

#game-board {
    margin-top: 20px;
    overflow-x: auto;
}

#tb {
    margin: 0;
    border-collapse: collapse;
}

#tb td {
    padding: 10px;
    text-align: center;
}

#tb img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s;
}

#tb img:hover {
    transform: scale(1.1);
}


.game-message {
    margin-top: 20px;
    font-size: 1.0rem;
    color: white;
    background: #005a16;
    padding: 20px;
    border-radius: 10px;
}
